{% extends 'home.html' %}

{% block script %}
  <script>
    /** 
     * Delete request auxiliary function.
     * This function invokes the main page via a DELETE request,
     * instructing the backend to remove the user's current request.
     */
    function delete_request() {
      $.ajax({
         url: '/',
         type: 'DELETE',
         success: function(response) {
           window.location.replace("/")
         }
      });
    }
  </script>
{% endblock %}

{% block body %}
  <h3>Welcome {{user['username']}}</h3>

  {% if user['request_data']|length == 0 %}
  <h3 class="mt-5">Request status</h3>
  <p>No request found !</p>
  <form method="POST">
    <input type="submit" class="btn btn-primary" value="Require Access 🔓"/>
  </form>

  {% else %}
    {% if user['request_data']['status'] == 'synced' %}
    <div class="position-absolute top-50 start-50 translate-middle">
      <a href="{{ user['uninuvolaurl'] }}"><button type="button" class="btn btn-primary btn-lg fs-1">
          Start computing
          <i class="bi bi-rocket-takeoff-fill"></i>
        </button></a>
    </div>

    <!-- STATISTICS PLACEHOLDER -->
    <!-- <h3>User statistics</h3> -->
    <!-- <div style="display:block; background-color: gray; width:auto;height:200px;"></div> -->
    <!-- <div class="card" aria-hidden="true"> -->
    <!--   <div class="card-body"> -->
    <!--     <h5 class="card-title placeholder-glow"> -->
    <!--       <span class="placeholder col-6"></span> -->
    <!--     </h5> -->
    <!--     <p class="card-text placeholder-glow"> -->
    <!--       <span class="placeholder col-7"></span> -->
    <!--       <span class="placeholder col-4"></span> -->
    <!--       <span class="placeholder col-4"></span> -->
    <!--       <span class="placeholder col-6"></span> -->
    <!--       <span class="placeholder col-8"></span> -->
    <!--     </p> -->
    <!--     <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a> -->
    <!--   </div> -->
    <!-- </div> -->

    {% else %}
    <h3 class="mt-5">Request status</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>State</th>
          <th>Accepted Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user['request_data']['startdate']}}</td>
          <td>{{user['request_data']['status']}}</td>
          <td>{{ user['request_data']['enddate'] if user['request_data']['enddate'] else '-'}}</td>
          <td>
            <button type="button" onclick="delete_request();" class="btn btn-danger btn-sm" {{'disabled' if user['request_data']['status'] == 'approved' else ''}}>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  {% endif %}
{% endblock %}
