{% extends 'home.html' %}

{% block script %}
{% endblock%}

{% block disclaimer %}
{% endblock%}

{% block body %}
<!-- Description and Login -->
<div class="row mx-auto py-md-2">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h2 class="card-title">Documentation</h2>
      <p class="card-text">Here you can find all the user documentation about the UniNuvola project.</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a class="btn btn-link" href="https://github.com/UniNuvola/quickstart/releases/latest/download/main.pdf" about="_blank">
            <i class="bi bi-file-pdf" style="color:red"></i> Quickstart guide
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
{% endblock%}
